.container1 {
    width:83%;
    max-width: 10000px;
    padding: 30px;
    margin: 40px auto;
    
}
h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
}
.border-b-2 {
    border-bottom: 2px solid #2B5C6B;
    margin-bottom: 16px;
}
.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
}
@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}
.card {
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}
.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block; /* Make sure the image behaves as a block element */
    margin: 0 auto; 
}
.card .content {
    padding: 16px;
}
.card h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
}
.card p {
    color: #4b5563;
    font-size: 14px;
}
.btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh; /* atau sesuai kebutuhan tinggi container */
}

.btn1 {
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #fff;
    background: #2B5C6B;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease; /* perbaiki typo '0.3sease' */
    text-decoration: none; /* hilangkan underline */
}